html, body {
    margin: 0;
    padding: 0;
   
}

.main {
    margin-top: 5pt;
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:relative;

}

main>.drawContainer {
    flex: 1; /* Questa proprietà fa sì che il div occupi tutto lo spazio rimanente */
    width: 100%;
    background-color: rgb(233, 227, 227);
    border-radius: 10pt;
    overflow: auto; /* Aggiungi uno scrolling se il contenuto è troppo grande */
}

body{
    height:96%;
    margin-left: 3pt;
    margin-right: 3pt;
    display: flex;
    flex-direction: column;
    justify-content:center;
}


body>header{
    position: sticky;
}


.pulsantiSalvataggio i{
    color: rgb(99, 13, 99);
}

.barraIntestazione, .barraComandi, footer{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.barraIntestazione>img{
    width: 15%;
    
}

.barraComandi, footer{
    
    border-radius: 10pt;
    margin:0 auto;
}

.barraComandi{
    background-color: rgb(99, 13, 99);
    padding-top:10pt;
    padding-bottom:10pt;
}

.pulsantiSalvataggio{
    height: 100%;
    
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    margin:5pt auto;
}


.bottoniSpecifici i, footer i, footer button{
    color: white;
}

.bottoniSpecifici button{
    background-color: rgb(99, 13, 99);
    border:none; 
    height:100%;
}

.bottoniSpecifici{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottoniSpecifici>div{
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    margin-right: 10pt;
}

.bottoniSpecifici>div>p{
    color:white;
    margin:0;
    padding:0;
}

.bottoniSpecifici>div{
    margin-left: 10pt;
}

.pulsantiSalvataggio button{
    border:none;
    background-color: white;
}

.barraComandi>button{
    background-color: rgb(99, 13, 99);
    color:white;
    border:none;
}


.nomeProgetto{
    padding:5pt;
    background-color:#c8a2c8;
    border-radius: 5pt;
    border:none;
}

button{
    cursor: pointer;
}

footer button{
    border:none;
    background-color: rgb(99, 13, 99);
    padding: 5pt;
    border-radius: 10pt;
}



/* The sidepanel menu */
.sidepanel {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12pt;
    color: grey;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: rgb(99, 13, 99);
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: rgb(99, 13, 99);
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    cursor: pointer;
    background-color:rgb(99, 13, 99);
    color: white;
    font-size: 12pt;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

  footer button:hover{
    background-color: #444;
  }

  ul{
    list-style: none;
    height: 90%;
    margin:0;
    padding: 0;
  }

  /* Stile per il pannello laterale con JSON */
.json-container {
    padding: 10px;
    white-space: pre-wrap; /* Per far andare a capo il testo */
}

/* Stile per gli elementi della lista JSON */
.json-container li {
    display: block; /* Imposta gli elementi <li> come bloccati */
    margin-bottom: 10px; /* Aggiunge uno spazio tra gli elementi della lista */
}


/*stile per palette dei comandi*/
.command-palette{
    background-color: rgb(99, 13, 99);
    position: absolute;
    right: 10pt;
    padding:5pt;
    top: 40%;
    z-index: 1000; /* Assicurati che la palette sia sopra altri elementi */
    border-radius: 20pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.command-group{
    width:100%;
    margin-top: 5pt;
    margin-bottom: 5pt;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
  
.command-group button, .cardinality, .coverage {
    background-color: white;
    color: rgb(99, 13, 99);
    border: 1px solid rgb(99, 13, 99);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width:49%;
    align-items: center;
}
  
.command-group button:hover {
    background-color: #c8a2c8;
    color: white;
}
  